#app {
  background: rgb(225, 247, 252);
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
  font-family: Source Sans Pro;
}

.app-container {
  height: 100%;
}

body {
  margin: 0;
}

img {
  margin: 40px;
}

h1 {
  font-size: 36px !important;
}
h2 {
  font-size: 30px !important;
}

.input-field {
  width: 100%;
  min-width: 531px;
  height: 100vh;
  font-family: Source Sans Pro;
}
.quill {
  height: 100%;
}

.ql-container {
  border-radius: 0;
  background: #fefcfc;
  height: calc(100% - 42px);
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #64efce;
  border-radius: 0;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.ql-editor {
  /* min-height: 100vh; */
  background: #fff;
}
p,
li {
  font-size: 24px !important;
}

