#app{
  background: rgb(225, 247, 252);
  min-height: 100vh;
  font-family: Source Sans Pro;
}

body{
  margin: 0;
}

img{
  margin: 40px;
}

h1{
  font-size: 36px !important;
}
h2 {
  font-size: 30px !important;
}

.input-field {
  width: 100%;
  min-width: 531px;
  height: 100vh;
  font-family: Source Sans Pro;
}
.quill {
  height: 100%;
}
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #8ebdb2;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.ql-editor {
  min-height: 100vh;
  background: rgb(202, 245, 255);
}
p, li{
  font-size: 24px !important;
}
